.root {
    color: blue;
}

.fl-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.other {
    background-color: rgb(90, 81, 151);
    /* composes: fl-center; */
    composes: colors from "../Logo/Logo.module.css"
}

.root > :global(.something){
    font-size: 20px;
    color: rgb(19, 187, 3);
}
.root > :global(.anything){
    font-size: 18px;
    color: rgb(253, 68, 0);
}
